.workspaceWrapper {
  position: relative;
  height: 100vh;
  width: 100vw;

  .drawArea {
    position: relative;
    height: 100%;
    width: 100%;

    .rectangularArea,
    .currentSelection {
      position: absolute;
      border: 1px solid black;
      box-sizing: border-box;
    }
  }
}